[submodule "Zmakan-Technical-Solutions/account_retention"]
	path = Zmakan-Technical-Solutions/account_retention
	url = git@github.com:Zmakan-Technical-Solutions/account_retention.git
	branch = 12.0
[submodule "Zmakan-Technical-Solutions/zts_project_enhancement"]
	path = Zmakan-Technical-Solutions/zts_project_enhancement
	url = git@github.com:Zmakan-Technical-Solutions/zts_project_enhancement.git
	branch = 12.0
[submodule "Zmakan-Technical-Solutions/report_xlsx"]
	path = Zmakan-Technical-Solutions/report_xlsx
	url = git@github.com:Zmakan-Technical-Solutions/report_xlsx.git
	branch = 12.0
[submodule "Zmakan-Technical-Solutions/project_default_tasks_7g"]
	path = Zmakan-Technical-Solutions/project_default_tasks_7g
	url = git@github.com:Zmakan-Technical-Solutions/project_default_tasks_7g.git
	branch = 12.0
[submodule "Zmakan-Technical-Solutions/project_default_stage_7g"]
	path = Zmakan-Technical-Solutions/project_default_stage_7g
	url = git@github.com:Zmakan-Technical-Solutions/project_default_stage_7g.git
	branch = 12.0
[submodule "Zmakan-Technical-Solutions/zts_approval_workflow"]
	path = Zmakan-Technical-Solutions/zts_approval_workflow
	url = git@github.com:Zmakan-Technical-Solutions/zts_approval_workflow.git
	branch = 12.0
[submodule "Zmakan-Technical-Solutions/zts_approval_workflow_purchase"]
	path = Zmakan-Technical-Solutions/zts_approval_workflow_purchase
	url = git@github.com:Zmakan-Technical-Solutions/zts_approval_workflow_purchase.git
	branch = 12.0
